.postdate {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  z-index: 2;
}
.month, .day, .year { 
  position: absolute; 
  text-indent: -1000em;
  background-image: url(../icon/dates.png);
  background-repeat: no-repeat;
}
.month { top: 2px; left: 0; width: 32px; height: 24px;}
.day { top: 25px; left: 0; width: 32px; height: 25px;}
.year { bottom: 0; right: 0; width: 17px; height: 48px;}

.m-01 { background-position: 0 4px;}
.m-02 { background-position: 0 -28px;}
.m-03 { background-position: 0 -57px;}
.m-04 { background-position: 0 -86px;}
.m-05 { background-position: 0 -115px;}
.m-06 { background-position: 0 -150px;}
.m-07 { background-position: 0 -185px;}
.m-08 { background-position: 0 -215px;}
.m-09 { background-position: 0 -225px;}
.m-10 { background-position: 0 -260px;}
.m-11 { background-position: 0 -307px;}
.m-12 { background-position: 0 -337px;}

.d-01 { background-position: -50px 0;}
.d-02 { background-position: -50px -31px;}
.d-03 { background-position: -50px -62px;}
.d-04 { background-position: -50px -93px;}
.d-05 { background-position: -50px -124px;}
.d-06 { background-position: -50px -155px;}
.d-07 { background-position: -50px -186px;}
.d-08 { background-position: -50px -217px;}
.d-09 { background-position: -50px -248px;}
.d-10 { background-position: -50px -279px;}
.d-11 { background-position: -50px -310px;}
.d-12 { background-position: -50px -341px;}
.d-13 { background-position: -50px -372px;}
.d-14 { background-position: -50px -403px;}
.d-15 { background-position: -50px -434px;}
.d-16 { background-position: -50px -465px;}
.d-17 { background-position: -100px 0;}
.d-18 { background-position: -100px -31px;}
.d-19 { background-position: -100px -62px;}
.d-20 { background-position: -100px -93px;}
.d-21 { background-position: -100px -124px;}
.d-22 { background-position: -100px -155px;}
.d-23 { background-position: -100px -186px;}
.d-24 { background-position: -100px -217px;}
.d-25 { background-position: -100px -248px;}
.d-26 { background-position: -100px -279px;}
.d-27 { background-position: -100px -310px;}
.d-28 { background-position: -100px -341px;}
.d-29 { background-position: -100px -372px;}
.d-30 { background-position: -100px -403px;}
.d-31 { background-position: -100px -434px;}

.y-2006 { background-position: -150px 0;}
.y-2007 { background-position: -150px -50px;}
.y-2008 { background-position: -150px -100px;}
.y-2009 { background-position: -150px -150px;}
.y-2010 { background-position: -150px -200px;}
.y-2011 { background-position: -150px -250px;}
.y-2012 { background-position: -150px -300px;}
.y-2013 { background-position: -150px -350px;}
.y-2014 { background-position: -150px -400px;}
.y-2015 { background-position: -150px -450px;}
