<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style/style.css" />
        <script src="{{ STATIC_URL }}script/objects.js"></script>
        <script src="{{ STATIC_URL }}script/script.js"></script>
        <title>{% block title %}Smart Privacy dot Org{% endblock %}</title>
    </head>

    <body>
        
        <header>

            <h1>
                Smart Privacy dot Org 
            </h1>

            <canvas id="canvas">
                This text is displayed if your browser 
                does not support HTML5 Canvas.
            </canvas>

            {% if user.is_authenticated %}
            <aside id="auth_user_menu">
            Welcome {{ user.username }}
            <a href="/users/logout/"><img src="{{ STATIC_URL }}icon/exit.png" alt="logout"></img></a>
            </aside>
            {% endif %}

        </header>
    
        <!--
        <nav id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
            {% endblock %}
        </nav>
        -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
