<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style/style.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style/date.css" />
        <script src="{{ STATIC_URL }}script/filters.js"></script>
        <script src="{{ STATIC_URL }}script/objects.js"></script>
        <script src="{{ STATIC_URL }}script/script.js"></script>
        <title>{% block title %}Smart Privacy dot Org{% endblock %}</title>
    </head>

    <body>
        
        <canvas id="canvas">
        </canvas>


        <header>
        
            <img id="banner-eye" src="{{ STATIC_URL }}icon/eyes.png" alt="eyes"/>
            
            <h1>
                <a href="/blog/home">Smart Privacy dot Org</a>
            </h1>


        </header>

        <nav id="menu" class="navigation">
            <aside id="menuBtn" class="btn-navigation">
                <img id="showMenuBtn" onclick="showMenu();" src="{{ STATIC_URL }}/icon/decryted.png"
                    alt="menu_close" />
                <img id="hideMenuBtn" onclick="hideMenu();" src="{{ STATIC_URL }}/icon/encryted.png"
                    alt="menu_close" />
            </aside>

            {% if user.is_authenticated %}
                <p>        
                    Welcome {{ user.username }}
                    <a href="/users/logout/" class="loginlogout"><img src="{{ STATIC_URL }}icon/exit.png" alt="logout"></img></a>
                </p>

                <p>
                    <h3>Administration</h3>
                    <ul>
                        <li><a href="/blog/edit/">New Article</a></li>
                    </ul>
                </p>


            {% else %}
                <p>        
                Welcome, <br /> 
                There is just another blog on the Internet. Main topics
                discuted here will be:
                <ul>
                    <li>Security</li>
                    <li>Privacy</li>
                </ul>
                Let's login? <a href="/users/login/" class="loginlogout"><img src="{{ STATIC_URL }}icon/login.png" alt="login"></img></a>
                </p>
            {% endif %}
                <p>        
                    {% block summary%} 
                    {% endblock %}
                </p>
        </nav>

    
        <!--
        <nav id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
            {% endblock %}
        </nav>
        -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
